#header {
  background-color: white;
  position: fixed;
  height: 64px;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
}

body {
  background-color: #fdf7f2;
}

#logo {
  height: 28px;
  width: 100;
  margin-left: 8.4rem;
  margin-right: 10px;
}

#menu {
  padding: 23px 16px;
}

a {
  font-size: 18px;
  font-weight: 550;
  margin-right: 1.6rem;
  color: #4d5159;
}

a:hover {
  color: #7a7a7a;
}

input {
  height: 40px;
  width: 320px;
  padding: 0.9rem 1.5rem;
  border-radius: 6px;
  border: none;
  background-color: #f2f3f6;
  margin-left: 45px;
  margin-top: 13px;
  font-size: 16px;
}
input:focus {
  outline: none;
}

button {
  font-weight: 700;
  font-size: 1rem;
  width: 100px;
  padding: 0.2rem 1rem;
  margin: 0.7rem;
  border-radius: 0.3rem;
  border: solid 1px #d1d3d8;
  background-color: white;
}

h1 {
  font-size: 3rem;
  font-weight: 645;
  line-height: 1.3;
  padding-top: 16.5rem;
  padding-left: 13.3rem;
  letter-spacing: -0.4px;
}

#layerText {
  padding-left: 13.3rem;
  font-weight: 400;
  color: #212529;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

#mainImg {
  width: 804px;
  height: 685px;
  bottom: 0;
  position: absolute;
  right: 60px;
}
