h1 {
  position: absolute;
  text-align: center;
  width: 141px;
  height: 50px;
  left: 700px;
  top: 50px;
  font-weight: 700;
  font-size: 45px;
}

input {
  position: absolute;
  width: 700px;
  height: 100px;
  border: none;
  background: #d1d1d1;
  border-radius: 5px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

input:focus {
  outline: none;
}

#username {
  left: 440px;
  top: 250px;
}

#password {
  left: 440px;
  top: 390px;
}

#remember {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 440px;
  top: 520px;
  border-radius: 0%;
  background: #ffffff;
  border: 1px solid #00068c;
}

p {
  position: absolute;
  left: 470px;
  top: 500px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d1d1d1;
}

a {
  position: absolute;
  width: 58px;
  height: 19px;
  left: 1080px;
  top: 516px;
}
