* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("./image/하트.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.container {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 50px;
  left: 10%;
  top: 10%;
  background-color: rgba(160, 236, 209, 0.635);
  width: 80%;
  height: 80%;
  color: black;
  min-width: 300px;
  min-height: 400px;
}

#title {
  text-align: center;
  margin-top: 15%;
}

#result {
  text-align: center;
  margin-top: 45px;
  font-size: x-large;
}

#inputNumber {
  margin-top: 24px;
  position: relative;
  height: 54px;
  width: 60vw;
  text-align: center;
  left: calc((100% - 60vw) / 2);
  border: none;
  border-radius: 80px;
  font-size: 2em;
}

#inputNumber:focus {
  outline: none;
}

#inputNumber::placeholder {
  position: relative;
  font-size: 16px;
  line-height: 0;
  top: -5px;
}

/*input type="number"일 때 우측에 따는 화살표 제거*/
#inputNumber::-webkit-outer-spin-button,
#inputNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Button {
  margin-top: 30px;
  position: relative;
  width: 3em;
  height: 3em;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  border: none;
  border-radius: 5px;
  margin: 15px;
}

.Button:hover {
  background-color: rgb(255, 0, 0);
}

.blue-background {
  background-color: blue !important;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#chance {
  position: absolute;
  display: inline-block;
  left: calc(50% - 93.19px / 2);
  top: 3%;
  color: red;
}
